.book-section {
	margin: 0 1rem 3rem;
	display: inline-block;
	.book-title {
		font-size: 1.4rem;
		color: rgba(0, 0, 0, 0.77);
	}

	.book-authors {
		list-style: none;
		.book-author {
			.book-author-name {
				font-size: 1rem;
				color: #982626;
			}
		}
	}
}
