@import './books-page';
@import './authors-page';
@import './book-page';
	@import './author-page';

ul {
	padding: 0 0;
}

.non-styled-btn {
	border: 0;
	background: transparent;
	cursor: pointer;
}

button:focus { outline:0 !important; }
a:hover {
	text-decoration: none;
}
